
name: {{input type="text" value=model.name}}<br>
number:  {{input type="text" value=model.number}}<br>
email: {{input type="text" value=model.email}}<br>
birthday: {{input type="text" value=model.birthday}}<br>
address: {{input type="text" value=model.address}}<br>
image: {{input type="text" value=model.image}}<br>
description: {{input type="text" value=model.description}}<br>
<button {{action "submit"}}>submit</button>


    
{{outlet}}